---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 19:53:42 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 14ms
      X-Forecast-Api-Calls:
      - '43'
      X-Response-Time:
      - 90.546ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583178823,"summary":"Clear","icon":"clear-day","nearestStormDistance":2,"nearestStormBearing":344,"precipIntensity":0,"precipProbability":0,"temperature":45.49,"apparentTemperature":42.41,"dewPoint":26.52,"humidity":0.47,"pressure":1007.5,"windSpeed":6.08,"windGust":17.88,"windBearing":341,"cloudCover":0.02,"uvIndex":4,"visibility":10,"ozone":347.1},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583178780,"precipIntensity":0,"precipProbability":0},{"time":1583178840,"precipIntensity":0,"precipProbability":0},{"time":1583178900,"precipIntensity":0,"precipProbability":0},{"time":1583178960,"precipIntensity":0,"precipProbability":0},{"time":1583179020,"precipIntensity":0,"precipProbability":0},{"time":1583179080,"precipIntensity":0,"precipProbability":0},{"time":1583179140,"precipIntensity":0,"precipProbability":0},{"time":1583179200,"precipIntensity":0,"precipProbability":0},{"t[...]
