---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 02:21:56 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 867ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 150.448ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583115716,"summary":"Light
        Snow","icon":"snow","nearestStormDistance":0,"precipIntensity":0.027,"precipIntensityError":0.01,"precipProbability":1,"precipType":"snow","precipAccumulation":0.2486,"temperature":34.22,"apparentTemperature":27.58,"dewPoint":29.17,"humidity":0.82,"pressure":1016.7,"windSpeed":7.94,"windGust":17.03,"windBearing":341,"cloudCover":0.89,"uvIndex":0,"visibility":5.423,"ozone":369.5},"minutely":{"summary":"Light
        snow for the hour.","icon":"snow","data":[{"time":1583115660,"precipIntensity":0.027,"precipIntensityError":0.009,"precipProbability":1,"precipType":"snow"},{"time":1583115720,"precipIntensity":0.027,"precipIntensityError":0.01,"precipProbability":1,"precipType":"snow"},{"time":1583115780,"precipIntensity":0.028,"precipIntensityError":0.01,"precipProbability":1,"precipType":"snow"},{"time":1583115840,"precipIntensity":0.028,"precipIntensityError":0.011,"precipProbability":1,"precipType":"snow"},{"time":1583115900,"precipIntensity":0.02[...]
