---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 22:00:52 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 732ms
      X-Forecast-Api-Calls:
      - '60'
      X-Response-Time:
      - 143.484ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583186452,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":11,"nearestStormBearing":320,"precipIntensity":0,"precipProbability":0,"temperature":51.2,"apparentTemperature":51.18,"dewPoint":19.55,"humidity":0.28,"pressure":1005.5,"windSpeed":8.51,"windGust":18.72,"windBearing":256,"cloudCover":0.33,"uvIndex":2,"visibility":10,"ozone":342.8},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1583186400,"precipIntensity":0,"precipProbability":0},{"time":1583186460,"precipIntensity":0,"precipProbability":0},{"time":1583186520,"precipIntensity":0,"precipProbability":0},{"time":1583186580,"precipIntensity":0,"precipProbability":0},{"time":1583186640,"precipIntensity":0,"precipProbability":0},{"time":1583186700,"precipIntensity":0,"precipProbability":0},{"time":1583186760,"precipIntensity":0,"precipProbability":0},{"time":1583186820,"precipIntensity":0,"precipProbability":0},{"t[...]
