---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 02:02:36 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 936ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 80.171ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583287356,"summary":"Clear","icon":"clear-night","nearestStormDistance":19,"nearestStormBearing":305,"precipIntensity":0,"precipProbability":0,"temperature":51.53,"apparentTemperature":51.54,"dewPoint":12.14,"humidity":0.2,"pressure":1015.8,"windSpeed":4.37,"windGust":9.57,"windBearing":258,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":328.1},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1583287320,"precipIntensity":0,"precipProbability":0},{"time":1583287380,"precipIntensity":0,"precipProbability":0},{"time":1583287440,"precipIntensity":0,"precipProbability":0},{"time":1583287500,"precipIntensity":0,"precipProbability":0},{"time":1583287560,"precipIntensity":0,"precipProbability":0},{"time":1583287620,"precipIntensity":0,"precipProbability":0},{"time":1583287680,"precipIntensity":0,"precipProbability":0},{"time":1583287740,"precipIntensity":0,"precipProbability":0},{"t[...]
