---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 17:29:17 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 254ms
      X-Forecast-Api-Calls:
      - '19'
      X-Response-Time:
      - 60.312ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583342957,"summary":"Clear","icon":"clear-day","nearestStormDistance":227,"nearestStormBearing":167,"precipIntensity":0,"precipProbability":0,"temperature":60.01,"apparentTemperature":60.14,"dewPoint":10.63,"humidity":0.14,"pressure":1014.2,"windSpeed":4.5,"windGust":13.55,"windBearing":181,"cloudCover":0.03,"uvIndex":4,"visibility":10,"ozone":323.7},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583342940,"precipIntensity":0,"precipProbability":0},{"time":1583343000,"precipIntensity":0,"precipProbability":0},{"time":1583343060,"precipIntensity":0,"precipProbability":0},{"time":1583343120,"precipIntensity":0,"precipProbability":0},{"time":1583343180,"precipIntensity":0,"precipProbability":0},{"time":1583343240,"precipIntensity":0,"precipProbability":0},{"time":1583343300,"precipIntensity":0,"precipProbability":0},{"time":1583343360,"precipIntensity":0,"precipProbability":0},{"t[...]
