---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000014f8476a3546f41088121d939e259ae4f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19982'
      X-Ratelimit-Reset:
      - '1585709756'
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":70,"page":1,"per_page":1,"photos":[{"id":3740419,"width":7200,"height":3581,"url":"https://www.pexels.com/photo/man-in-black-suit-holding-white-tablet-computer-3740419/","photographer":"bongkarn
        thanyakij","photographer_url":"https://www.pexels.com/@bongkarn-thanyakij-683719","photographer_id":683719,"src":{"original":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg","large2x":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/3740419/pexels-photo-3740419.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/search/?page=2&per_page=1&query=denver%2Cco"}'
  recorded_at: Wed, 04 Mar 2020 17:29:16 GMT
recorded_with: VCR 5.1.0
